@use "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: variables.$main-gray;
  box-sizing: border-box;
  .app {
    width: 100%;
    min-height: calc(100vh - 121px);
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
  }
}
// typography

.e1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: variables.$ash-black;
}
.e2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: variables.$ash-black;
  text-transform: uppercase;
  vertical-align: center;
}
.e3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: variables.$gray;
}

.photo-container {
  &:hover{
    .custom-gradient {
      opacity: 1;
    }
    .desktop-like-share-buttons {
      opacity: 1;
    }
  }
  .desktop-like-share-buttons {
    opacity: 0;
  }
  .custom-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000000e5 0%, #d9d9d900 90%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.animate-heart {
  animation: heart-beat 0.5s forwards;
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
